{% extends "base.html" %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
  <h1>Товары в корзине</h1>
  <table>
    <thead>
      <tr>
        <th>Изображение</th>
        <th>Товар</th>
        <th>Количество</th>
        <th>Удалить</th>
        <th>Цена за один товар</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Обновить">
                {% csrf_token %}
              </form>
            </td>
            <td><a href="{% url "cart:cart_remove" product.id %}">Удалить</a></td>
            <td class="num">{{ item.price }}руб</td>
            <td class="num">{{ item.total_price }}руб</td>
          </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
    <h2>Итого {{ cart.get_total_price }}</h2>
  <p class="text-right">
    <a href="{% url "shop:product_list" %}" class="button light">Продилжить закупку</a>
    <a href="{% url "orders:order_create" %}" class="button">
      Оформить заказ
    </a>
  </p>
{% endblock %}